.destination {
  .destination-page-image {
    height: 25vh;
    background-image: url('../../assets/bg_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bg-image-6079a92c-6dbb-4cdc-b116-93c93969f346 {
    height: 250px;
    width: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/6079a92c-6dbb-4cdc-b116-93c93969f346.jpg');
  }
  .bg-image-6c5eab60-d7c6-4abb-8b52-e7ab980712db {
    height: 250px;
    width: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/6c5eab60-d7c6-4abb-8b52-e7ab980712db.jpg');
  }

  .bg-image-0d195a5e-b30b-4b8e-8fec-90db57366dfe {
    height: 250px;
    width: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/0d195a5e-b30b-4b8e-8fec-90db57366dfe.jpg');
  }
  .well {
    background-color: rgba(245, 245, 245, 0.6);
  }

  img {
      width: 100vw;
  }
}
