.home-page-image {
  height: 65vh;
  background-image: url('../../assets/bg_home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  .logo-winterent {
    width: 15%;
  }
}

.bg-image-ski {
  height: 250px;
  width: 180px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/ski.jpg');
}
.bg-image-chaussure {
  height: 250px;
  width: 180px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/chaussure.jpg');
}
.well {
  background-color: rgba(245, 245, 245, 0.6);
}

.a-propos {
  height: 30vh;
  width: 100vw;
  background-color: #3f78cd;
  .bandeau {
    width: 100%;
    height: 8px;
    position: absolute;
    background-color: #9ae6f0;
    margin-top: 8px;
  }
}
