.home-page-image{
    height: 65vh;
    background-image: url('../../assets/bg_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .logo-winterent{
        width: 15%;
    }
}

.bg-image-ski{
    height: 250px;
    width: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/ski.jpg");
}
.bg-image-chaussure{
    height: 250px;
    width: 180px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../assets/chaussure.jpg");
}
.well {
   background-color: rgba(245, 245, 245, 0.6);
}