.cart {
  .cart-page-image {
    height: 40vh;
    background-image: url("../../assets/bg_cart.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.components {
  gap: 3rem;
}

.article {
  border: 1px solid #dee2e7;
  width: 40rem;
}

.butBack {
  width: 10rem;
  color: #dee2e7;
}
