.shop {
  .shop-page-image {
    height: 25vh;
    background-image: url('../../assets/bg_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .image-width {
    background-color: red;
    width: 30%;
  }
  img {
    width: 100%;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/1.jpg');
  }
}
