.article {
  border: 1px solid #dee2e7;
  width: 40rem;
}
.line {
  border: 1px solid #dee2e7;
  margin-top: 2rem;
}
.butBack {
  width: 10rem;
  color: #dee2e7;
}
.buts {
  margin-top: 3rem;
}

img {
  width: 20px;
}
button {
  width: 8rem;
}
