.line {
  border: 1px solid #dee2e7;
  margin-top: 1rem;
}
.cartitem {
      width: 100%;
  .test {
    width: 100%;
  }
  .container-infos {
    width: 45%;
    .description {
      margin-left: 50px;
    }
  }
.container-price{
      width: 35%;
}
  img {
    width: 15%;

  }
}
button {
  width: 8rem;
}
